<div class="row" style="padding: 50px">
  <form [formGroup]="form" class="pg-cadastro p-1" (ngSubmit)="register()">
    <div>
      <h2 style="margin-bottom: 20px">Cadastro de Usuário</h2>
    </div>
    <div class="form-row" style="width: 100%">
      <div class="form-group col-sm-6">
        <label>Primeiro Nome</label>
        <input
          type="text"
          class="pg-cadastro__info--input form-control"
          formControlName="primeiroNome"
          [ngClass]="{
            'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched
          }"
          placeholder="Insira o Primeiro nome"
        />
        <div class="invalid-feedback">Primeiro Nome é obrigatório.</div>
      </div>
      <div class="form-group col-sm-6">
        <label>Último nome</label>
        <input
          type="text"
          class="pg-cadastro__info--input form-control"
          formControlName="ultimoNome"
          [ngClass]="{
            'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched
          }"
          placeholder="Insira o Último nome"
        />
        <div class="invalid-feedback">Último Nome é obrigatório.</div>
      </div>
    </div>
    <div class="pg-cadastro__info form-group">
      <label for="">Email:</label>
      <input
        class="pg-cadastro__info--input form-control"
        type="text"
        formControlName="email"
        [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched }"
        placeholder="Insira o Nome Completo"
      />
      <div
        *ngIf="f.email.errors?.required && f.email.touched"
        class="invalid-feedback"
      >
        e-mail é obrigatório.
      </div>
      <div
        *ngIf="f.email.errors?.email && f.email.touched"
        class="invalid-feedback"
      >
        Deve ser um e-mail válido.
      </div>
    </div>
    <div class="pg-cadastro__info form-group" style="width: 100%">
      <label for="">Usuario:</label>
      <input
        class="pg-cadastro__info--input form-control"
        type="text"
        formControlName="userName"
        [ngClass]="{ 'is-invalid': f.userName.errors && f.userName.touched }"
        placeholder="Insira o nome de Usuário"
      />
      <div class="invalid-feedback">Usuário é obrigatório.</div>
    </div>
    <div class="form-row" style="width: 100%">
      <div class="form-group col-sm-6">
        <label for="">Senha:</label>
        <input
          class="pg-cadastro__info--input form-control"
          type="password"
          formControlName="password"
          [ngClass]="{
            'is-invalid': f.password.errors && f.password.touched
          }"
          placeholder="Digite uma Senha"
        />
        <div
          *ngIf="f.password.errors?.required && f.password.touched"
          class="invalid-feedback"
        >
          Senha é obrigatório.
        </div>
        <div
          *ngIf="f.password.errors?.minlength && f.password.touched"
          class="invalid-feedback"
        >
          Deve conter no mínimo 6 caracteres.
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label for="">Confirmar Senha:</label>
        <input
          class="pg-cadastro__info--input form-control"
          type="password"
          formControlName="confirmPassword"
          [ngClass]="{
            'is-invalid':
              f.confirmPassword.errors && f.confirmPassword.touched
          }"
          placeholder="Confirme a Senha"
        />
        <div
          *ngIf="f.confirmPassword.errors?.required"
          class="invalid-feedback"
        >
          Confirmar Senha é obrigatório.
        </div>
        <div
          *ngIf="f.confirmPassword.errors?.mustMatch"
          class="invalid-feedback"
        >
          Repedir a senha é obrigatório.
        </div>
      </div>
    </div>
    <div class="form-row" style="width: 100%">
      <div class="form-group col-12">
        <button
          [disabled]="!form.valid"
          class="pg-cadastro__button btn btn-lg btn-success btn-block px-5"
          type="submit"
        >
          Registrar
        </button>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <a class="pg-cadastro__link" routerLink="/user/login">
          Já sou Cadastrado
        </a>
      </div>
    </div>
  </form>
</div>
