<div class="sidebar">
  <nav class="sidebar__menu">
    <a class="sidebar__menu--item" routerLink="/lista"
      >Documentos<img src="../../assets/icons/right.svg" alt=""
    /></a>
    <a class="sidebar__menu--item" (click)="goTo(0)"
      >Resumos<img src="../../assets/icons/right.svg" alt=""
    /></a>
    <a class="sidebar__menu--item" (click)="goTo(1)"
      >Artigos<img src="../../assets/icons/right.svg" alt=""
    /></a>
    <a class="sidebar__menu--item" (click)="goTo(2)"
      >Monografias<img src="../../assets/icons/right.svg" alt=""
    /></a>
    <a class="sidebar__menu--item" (click)="goTo(3)"
      >Dissetações<img src="../../assets/icons/right.svg" alt=""
    /></a>
    <a class="sidebar__menu--item" (click)="goTo(4)"
      >Teses<img src="../../assets/icons/right.svg" alt=""
    /></a>
    <a class="sidebar__menu--item" (click)="goTo(5)"
      >Livros<img src="../../assets/icons/right.svg" alt=""
    /></a>
    <a class="sidebar__menu--item" (click)="goTo(6)"
      >Projetos<img src="../../assets/icons/right.svg" alt=""
    /></a>
  </nav>
</div>
