<div class="page">
  <a class="btn-logout" (click)="logout()">Logout</a>
  <h2>Perfil</h2>
  <br />
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="pg-perfil">
      <form class="pg-perfil__info">
        <div>
          <label class="pg-perfil__info--label">Primeiro Nome</label>
          <input
            type="text"
            formControlName="primeiroNome"
            class="pg-perfil__info--data form-control"
          />
        </div>
        <div>
          <label class="pg-perfil__info--label">Senha Atual</label>
          <input type="text" class="pg-perfil__info--data form-control" />
        </div>
        <div>
          <label class="pg-perfil__info--label">Último nome</label>
          <input
            type="text"
            formControlName="ultimoNome"
            class="pg-perfil__info--data form-control"
          />
        </div>
        <div>
          <label class="pg-perfil__info--label">Senha</label>
          <input
            type="password"
            formControlName="password"
            class="pg-perfil__info--data form-control"
          />
        </div>
        <div>
          <label class="pg-perfil__info--label">E-mail</label>
          <input
            type="text"
            formControlName="email"
            class="pg-perfil__info--data form-control"
          />
        </div>
        <div>
          <label class="pg-perfil__info--label">Confirmar Senha</label>
          <input
            type="password"
            formControlName="confirmePassword"
            class="pg-perfil__info--data form-control"
          />
        </div>
        <br />
        <div class="pg-perfil__info--btn-container">
          <button class="pg-perfil__info--btn">Salvar Alterações</button>
        </div>
      </form>
    </div>
  </form>
  <br />
  <br />
  <div class="amd-painel">
    <h2>Espaço do adminsitrador</h2>
    <div class="userlist">
      <table>
        <thead>
          <tr class="userlist__tittles">
            <th>Nome de Usuário</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Nivel de acesso</th>
          </tr>
        </thead>
        <tbody class="userlist__items">
          <tr class="li-item">
            <td>RuanMNT1</td>
            <td>Ruan Teixeira</td>
            <td>ruan.mteixeira@gmail.com</td>
            <td>Usuário comum</td>
            <td>
              <button class="userlist__btn userlist__btn--upgrade">
                Promover
              </button>
            </td>
          </tr>
          <tr class="li-item">
            <td>LucasOliver1</td>
            <td>Lucas Oliveira</td>
            <td>oliverlucasfer@gmail.com</td>
            <td>Usuário avançado</td>
            <td>
              <button class="userlist__btn userlist__btn--downgrade">
                Rebaixar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
