/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

@import "../node_modules/bootswatch/dist/cosmo/bootstrap.min.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  width: 100%;
  padding: 50px;
  // background: rgba(159, 159, 255, 0.07);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

h1 {
  font-size: 40px;
  color: #404040;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #404040;
}

h3 {
  font-size: 28px;
  color: #404040;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  color: #404040;
}

p {
  font-size: 16px;
  color: #404040;
}

a {
  font-size: 14px;
  font-weight: bold;
  color: #404040;
}

label {
  margin: 0;
}

.main {
  width: 100% !important;
  display: flex;
}

.modal {
  z-index: 9999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  &__container {
    margin: 20px;
    padding: 30px;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
  }
}
