<div class="page">
  <div class="pg-document">
    <div class="pg-document__header">
      <div class="">
        <a style="margin-top: 5px" href="/"
          ><img src="../../assets/icons/arrow-back.svg" alt=""
        /></a>
        <h1>{{ documento.titulo }}</h1>
      </div>
      <button (click)="redirectTo(documento.id)" class="btn-edit">
        <strong class="btn-edit__name">Editar</strong>
        <img class="btn-edit__icon" src="../../assets/icons/edit.svg" alt="" />
      </button>
    </div>
    <div class="pg-document__container">
      <div class="pg-document__info">
        <label class="pg-document__info--label" htmlFor="">Autor(es)</label>
        <p class="pg-document__info--data">{{ documento.autor }}</p>
        <label class="pg-document__info--label" htmlFor="">Área</label>
        <p class="pg-document__info--data">{{ documento.area }}</p>
        <label class="pg-document__info--label" htmlFor="">Categoria</label>
        <p class="pg-document__info--data">
          {{ categorias[documento.categoria] }}
        </p>
        <label class="pg-document__info--label" htmlFor=""
          >Palavras Chave</label
        >
        <p class="pg-document__info--data">{{ documento.palavrasChave }}</p>
        <label class="pg-document__info--label" htmlFor=""
          >Ano de Publicação</label
        >
        <p class="pg-document__info--data">{{ documento.ano }}</p>
        <a
          href="../../../../assets/{{ documentoURL }}"
          class="pg-document__info--button"
          download="{{ documentoURL }}"
        >
          Baixar PDF<img src="../../assets/icons/btn-download.svg" alt="" />
        </a>
      </div>
      <div class="pg-document__resume">
        <h2>Resumo</h2>
        <p>
          {{ documento.resumo }}
        </p>
      </div>
    </div>
  </div>
</div>
